---
import { getCollection } from "astro:content";
import type { GetStaticPaths } from "astro";
import slugify from "slugify";

import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogCard from "../../components/BlogCard.astro";

export const getStaticPaths = (async () => {
  const allPosts = await getCollection("blog");

  const uniqueTags = [
    ...new Set(
      allPosts
        .sort(
          (a, b) =>
            new Date(b.data.pubDate).getTime() -
            new Date(a.data.pubDate).getTime(),
        )
        .map((post) => post.data.tags)
        .flat(),
    ),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag),
    );

    return { params: { tag }, props: { posts: filteredPosts } };
  });
}) satisfies GetStaticPaths;

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag} className="container mx-auto w-11/12 md:w-10/12">
  <h1 class="mb-8 text-3xl font-black italic md:text-5xl">
    Posts tagged with "{tag}"
  </h1>
  <ul>
    {
      posts.map((post: any) => (
        <BlogCard
          url={`/posts/${slugify(post.data.title).toLowerCase()}/`}
          title={post.data.title}
          pubDate={post.data.pubDate}
          description={post.data.description}
          html={post.body}
          minutesRead={post?.rendered?.metadata?.frontmatter?.minutesRead}
        />
      ))
    }
  </ul>
</BaseLayout>
