---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogCard from "../components/BlogCard.astro";

const pageTitle = "Blog Page";

const allPosts = await getCollection('blog')
const latestPosts = allPosts
	.sort((a, b) => {
		if (a.data.pubDate > b.data.pubDate) {
			return -1;
		}
		if (a.data.pubDate < b.data.pubDate) {
			return 1;
		}
		return 0;
	})
---

<BaseLayout pageTitle={pageTitle}>
	<h1 class="italic text-3xl mb-12">Blog Archive</h2>
	
		{latestPosts.map(post =>(
			<BlogCard url={`/posts/${post.id}/`} title={post.data.title} pubDate={post.data.pubDate} description={post.data.description} html={post.rendered?.html} />
			))}
</BaseLayout>
