---
import { getCollection } from "astro:content";
import slugify from "slugify";
// import { generateRandomString } from "../utils/helpers";

import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogCard from "../components/BlogCard.astro";
import Hero from "../components/Hero.astro";
import { Icon } from "astro-icon/components";

const pageTitle = "Home";

const allPosts = await getCollection("blog");
const latestPosts = allPosts
  .sort((a, b) => {
    if (a.data.pubDate > b.data.pubDate) {
      return -1;
    }
    if (a.data.pubDate < b.data.pubDate) {
      return 1;
    }
    return 0;
  })
  .slice(0, 3);
---

<BaseLayout
  pageTitle={pageTitle}
  className="container mx-auto w-11/12 md:w-10/12"
>
  <Hero />

  <div class="mt-24 md:px-12">
    <h3 class="mb-8 italic md:text-xl">Recent Posts</h3>
    {
      latestPosts.map((post) => (
        <BlogCard
          title={post.data.title}
          pubDate={post.data.pubDate}
          description={post.data.description}
          html={post.body}
          url={`/posts/${slugify(post.data.title).toLowerCase()}`}
          minutesRead={post?.rendered?.metadata?.frontmatter?.minutesRead}
        />
      ))
    }

    <a
      class="relative mx-auto flex w-fit cursor-pointer items-center gap-2 pb-4 text-sm after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-full after:origin-left after:scale-x-0 after:bg-current after:transition-transform after:duration-300 after:ease-in-out after:content-[''] hover:after:scale-x-100 motion-reduce:transition-none motion-reduce:hover:transform-none md:mx-0 md:text-base"
      href="/posts"
      ><span>Read all posts</span>
      <Icon
        class="opacity-60 dark:opacity-100"
        size="16"
        name="tabler:arrow-right"
      /></a
    >
  </div>
</BaseLayout>
