---
import { getCollection } from "astro:content";
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogCard from "../components/BlogCard.astro";
import Hero from "../components/Hero.astro";

const pageTitle = "Home";

const allPosts = await getCollection("blog");
const latestPosts = allPosts
  .sort((a, b) => {
    if (a.data.pubDate > b.data.pubDate) {
      return -1;
    }
    if (a.data.pubDate < b.data.pubDate) {
      return 1;
    }
    return 0;
  })
  .slice(0, 3);
---

<BaseLayout pageTitle={pageTitle}>
  <Hero />

  <div class="mt-24">
    <h3 class="mb-8 italic md:text-xl">Recent Posts</h3>
    {
      latestPosts.map((post) => (
        <BlogCard
          title={post.data.title}
          pubDate={post.data.pubDate}
          description={post.data.description}
          html={post.rendered?.html}
          url={`/posts/${post.id}`}
        />
      ))
    }

    <p>
      <a
        class="relative mx-auto cursor-pointer pb-4 text-sm after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-full after:origin-left after:scale-x-0 after:bg-current after:transition-transform after:duration-300 after:ease-in-out after:content-[''] hover:after:scale-x-100 motion-reduce:transition-none motion-reduce:hover:transform-none md:mx-0 md:text-base"
        href="/blog">Read all posts</a
      >
    </p>
  </div>
</BaseLayout>
