---
import type { MarkdownHeading } from "astro";
import clsx from "clsx";

import BaseLayout from "./BaseLayout.astro";
import { removeTags } from "../utils/helpers";

const { entry, body, baseUrl, ogImage, ...frontmatter } = Astro.props;
---

<BaseLayout
  description={frontmatter.description
    ? frontmatter.description.slice(0, 160)
    : removeTags(body)}
  ogImage={ogImage}
  ogType={`article`}
  baseUrl={baseUrl}
  pageTitle={frontmatter.title}
  className={clsx("container mx-auto w-11/12 md:w-10/12", {
    "md:w-full": frontmatter.headings.length > 0,
  })}
>
  <div
    class={clsx({
      "gap-8 md:grid md:grid-cols-6": frontmatter.headings.length > 0,
    })}
  >
    <!--LARGE VIEWPORT TABLE OF CONTENT -->
    {
      frontmatter.headings.length > 0 && (
        <div class="top-0 bottom-1/3 order-first my-auto py-2 align-middle text-balance md:sticky md:top-[5rem] md:col-span-2 md:mt-16 md:border-r-8 md:border-current/50 md:shadow md:drop-shadow-current">
          <>
            <h2 class="text-l mb-4 hidden text-center text-xl italic md:mb-8 md:block">
              Table of Contents
            </h2>

            <ul class="hidden flex-col space-y-2 overflow-auto px-6 text-sm opacity-80 md:flex md:justify-baseline lg:text-base">
              {frontmatter.headings.map((heading: MarkdownHeading) => (
                <li class="toc">
                  <a class="" href={`#${heading.slug}`}>
                    {heading.text}
                  </a>
                </li>
              ))}
            </ul>
          </>
        </div>
      )
    }

    <!-- BLOG CONTENT -->
    <div class="md:order-1 md:col-span-4">
      <div class="flex flex-col space-y-6">
        <h1 class="block text-2xl font-bold md:text-3xl">
          {frontmatter.title}
        </h1>

        <div class="flex items-center gap-2 text-sm">
          <span>{new Date(frontmatter.pubDate).toDateString()}</span>
          <span>&bullet;</span>
          <span>{frontmatter.minutesRead}</span>
        </div>

        <!-- Tags -->
        <div class="tags flex w-full flex-wrap items-center gap-2 text-xs">
          {
            frontmatter.tags.map((tag: string) => (
              <p class="rounded-xl border-[0.25px] border-current bg-[#9775fa] px-2 py-1 text-white">
                <a href={`/tags/${tag}`}>#{tag}</a>
              </p>
            ))
          }
        </div>

        <!-- SMALL VIEWPORT TABLE OF CONTENTS -->
        {
          frontmatter.headings.length > 0 && (
            <div class="p-4 shadow md:hidden">
              <h2 class="text-l mb-4 block italic">Table of Contents</h2>

              <ul class="flex max-h-[10rem] flex-col space-y-2 overflow-y-scroll text-sm opacity-80 shadow-[0px_-1px_0px_0px_rgba(0,0,0,0.08)]">
                {frontmatter.headings.map((heading: MarkdownHeading) => (
                  <li class="toc small-viewport first-of-type:pt-3">
                    <a href={`#${heading.slug}`}>{heading.text}</a>
                  </li>
                ))}
              </ul>
            </div>
          )
        }

        {
          frontmatter.description && (
            <blockquote class="border-l-6 p-4 opacity-80 shadow backdrop-opacity-50">
              {frontmatter.description}
            </blockquote>
          )
        }

        {
          frontmatter.image?.url && (
            <figure class="w-full md:h-[240px]">
              <img
                class="object-fit h-full w-full md:aspect-auto"
                src={frontmatter.image.url}
                alt={frontmatter.image.alt}
              />
            </figure>
          )
        }
        <slot />
      </div>
    </div>
  </div>
</BaseLayout>

<style>
  li::before {
    line-height: 1;
    content: counter(list-count, decimal-leading-zero) ".";
    font-weight: bold;
    font-size: 1rem;
    padding-inline-end: .5rem;
  }

  ul {
    counter-reset: list-count;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: #9775fa80;
    }

    &::-webkit-scrollbar-track {
      background-color: #9775fa1a;
    }
  }

  li {
    counter-increment: list-count;
  }
</style>
